a:hover{
	text-decoration: none;
}

.section
{
	padding-top: 70px;
	padding-bottom: 70px;
}

.section h2.section-head{
	color: #000;
	text-align: center;
	margin-bottom: 40px;
}

.section h2.section-head:after {
 background: #e74c3c;
 content: "";
 display: block;
 height: 3px;
 width: 100px;
 margin: 20px auto;
}

#header{
	color: #fff;
	background: #e74c3c;
}

#logo{
	font-size: 2rem;
	margin-top: 5px;
}

#menu{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li{
	display: inline-block;
}

#menu li a{
	color: #fff;
	padding: 15px 10px;
	display: block;
}

#menu li a:hover{
    background: #c0392b;
}

#banner{
	background: url('../img/banner.jpg') no-repeat 0 0;
	background-size: cover;
}

#banner-title{
	padding-top: 5rem;
}

#banner-title h1{
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	display: inline-block;
	margin: 0;
}

#banner-title p.lead{
   color: #fff;
   background: rgba(231, 76, 60, 0.5);
   padding: 10px;
}

.service-box
{
	text-align: center;
}

.service-box i.fa
{
	font-size: 70px;
	color: #e74c3c;
	margin-bottom: 15px;
}

#testimonials{
	background: url('../img/testimonilas.jpg') no-repeat 0 0;
	background-size: cover;
	padding: 50px 0;
	position: relative;
	color: #fff;
}


#testimonials:before
{
  background: rgba(52,73,94,0.7);
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#testimonials img{
	border-radius: 50%;
}